@charset "ISO-8859-1";

#p01{
    border-left: 6px solid black;
    height: 950px;
    top: 0;
    position: absolute;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 5%;
  background-color: #f1f1f1;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

li a {
  display: block;
  text-align: center;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

li a.active {
  background-color: red;
  color: white;
}